<form action="comment.php" method="post">
	<section class="article">
		<h2 class="article__title">コメント投稿</h2>		
		<div class="article__post">
			<div class="article__postSet">
				<p>お名前</p>
                <p><input type="text" name="name" size="40"></p>
			</div>

			<div class="article__postSet">
				<p>コメント</p>
				<p><textarea name="content" row="8" cols="40"></textarea></p>
			</div>

			<div class="article__postSet">
				<p>
					<input class="article__submit" name="submit" type="submit" value="投稿">
					<input name="post_id" type="hidden" value="<?= $post_id?>">
				</p>
			    <?php if($error):?>
    				<p class="article__error">
    				<?php echo $error;?>
    				</p>
 				<?php endif;?>
		   	</div>
	    </div>

	</section>
</form>